body{
background: url(https://www.xtrafondos.com/descargar.php?id=4414&resolucion=3840x2160);
background-size: 100%;
}
.btn-neon1{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon1:hover{
    background: #a50a0a88;
    box-shadow: 0 0 10px #c50404e0, 0 0 40px  #c50404e0, 0 0 80px ;
    transition-delay: 1s;
    
}
.btn-neon1 span{
    position: absolute;
    display: block;
    
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#ffffff);
}
.btn-neon1:hover #span1{
    left: 100%;
    transition: 1s;
    
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#ffffff);
}
.btn-neon1:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
}
.btn-neon1:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
}
.btn-neon1:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
button{
    background-color: #ffffff;
    font-size: 18px;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 50px;
    height: 30px; 
    cursor: pointer;
}




.btn-neon2{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon2:hover{
    background: #a50a0a88;
    box-shadow: 0 0 10px #c50404e0, 0 0 40px  #c50404e0, 0 0 80px ;
    transition-delay: 1s;
    
}
.btn-neon2 span{
    position: absolute;
    display: block;
    
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#ffffff);
}
.btn-neon2:hover #span1{
    left: 100%;
    transition: 1s;
    
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#ffffff);
}
.btn-neon2:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
}
.btn-neon2:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
}
.btn-neon2:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
button{
    background-color: #ffffff;
    font-size: 18px;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 50px;
    height: 30px; 
    cursor: pointer;
}






.btn-neon3{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon3:hover{
    background: #a50a0a88;
    box-shadow: 0 0 10px #c50404e0, 0 0 40px  #c50404e0, 0 0 80px ;
    transition-delay: 1s;
    
}
.btn-neon3 span{
    position: absolute;
    display: block;
    
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#ffffff);
}
.btn-neon3:hover #span1{
    left: 100%;
    transition: 1s;
    
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#ffffff);
}
.btn-neon3:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
}
.btn-neon3:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
}
.btn-neon3:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
button{
    background-color: #ffffff;
    font-size: 18px;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 50px;
    height: 30px; 
    cursor: pointer;
}


.btn-neon4{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon4:hover{
    background: #a50a0a88;
    box-shadow: 0 0 10px #c50404e0, 0 0 40px  #c50404e0, 0 0 80px ;
    transition-delay: 1s;
    
}
.btn-neon4 span{
    position: absolute;
    display: block;
    
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#ffffff);
}
.btn-neon4:hover #span1{
    left: 100%;
    transition: 1s;
    
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#ffffff);
}
.btn-neon4:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#ffffff);
}
.btn-neon4:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#ffffff);
}
.btn-neon4:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
button{
    background-color: #ffffff;
    font-size: 18px;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 50px;
    height: 30px; 
    cursor: pointer;
}




.btn-neon1{
    position: absolute;
    top: 100px;
    left: 10px;
}

.btn-neon2{
    position: absolute;
    top: 300px;
    left: 10px;
}


.btn-neon3{
    position: absolute;
    top: 400px;
    left: 10px;
    
}

.btn-neon4{
    position: absolute;
    top: 500px;
    left: 10px;
    
}